<form #searchForm="ngForm" (ngSubmit)="search()">

  <div class="row">
    <div class="large-12 small-12 columns">
      <div class="row">
        <div class="large-2 small-2 columns">
          <label for="actType" class="right">Тип акта:</label>
        </div>
        <div class="large-10 small-10 columns">
          <select name="actType" id="actType" [(ngModel)]="searchDTO.type">
            <option *ngFor="let type of actTypeNames" [value]="type.name">
              {{actTypeMessages.get(type.name)}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-2 small-2 columns">
      <label for="fromDate" class="right">Дата:</label>
    </div>
    <div class="large-1 small-1 columns">
      <label for="fromDate" class="right">c</label>
    </div>
    <div class="large-4 small-4 columns">

      <input type="text" id="fromDate" name="fromDate" #fromDate="ngModel" [(ngModel)]="searchDTO.fromDate"
             pattern="^\d{2}.\d{2}.\d{4}$" placeholder="ДД.ММ.ГГГГ">
      <div class="callout alert"
           *ngIf="fromDate.touched && !fromDate.valid">
        Неверный формат даты.
        Пожалуйста, введите дату в формате ДД.ММ.ГГГГ
      </div>

    </div>

    <div class="large-1 small-1 columns">
      <label for="toDate" class="right">по</label>
    </div>
    <div class="large-4 small-4 columns">
      <input type="text" id="toDate" name="toDate" #toDate="ngModel" pattern="^\d{2}.\d{2}.\d{4}$"
             [(ngModel)]="searchDTO.toDate"
             placeholder="ДД.ММ.ГГГГ">
      <div class="callout alert"
           *ngIf="toDate.touched && !toDate.valid">
        Неверный формат даты.
        Пожалуйста, введите дату в формате ДД.ММ.ГГГГ
      </div>
    </div>

  </div>
  <div class="row head">
    <div class="large-12 small-12 columns">
    <p><b>Ответственное лицо:</b></p>
    </div>
  </div>
  <div class="row">
    <div class="large-2 small-2 columns">
      <label for="lastName" class="right">Фамилия:</label>
    </div>
    <div class="large-10 small-10 columns">
      <input type="text" id="lastName" name="lastName" [(ngModel)]="searchDTO.creatorLastName">
    </div>
  </div>
  <div class="row">
    <div class="large-2 small-2 columns">
      <label for="firstName" class="right">Имя:</label>
    </div>
    <div class="large-10 small-10 columns">
      <input type="text" id="firstName" name="firstName" [(ngModel)]="searchDTO.creatorFirstName">
    </div>
  </div>
  <div class="row">
    <div class="large-2 small-2 columns">
      <label for="patronymic" class="right">Отчество:</label>
    </div>
    <div class="large-10 small-10 columns">
      <input type="text" id="patronymic" name="patronymic" [(ngModel)]="searchDTO.creatorPatronymic">
    </div>
  </div>


  <div class="row">
    <div class="large-12  small-12 columns button-right">
      <button class="button" type="submit" [disabled]="!searchForm.form.valid">
        <span aria-hidden="true">
          <i class="fi-magnifying-glass"></i> Поиск
        </span>
      </button>
      <input class="button" type="button" (click)="clear()" value="Очистить">
    </div>
  </div>
</form>










