<div class="main-container">
  <div class="row">
    <div class="large-12 small-12 column">

      <table class="hover">
        <tr>
          <th>Компания</th>
          <th>Начало действия</th>
          <th>Окончание действия</th>
          <th>Стоимость (руб/месяц)</th>
        </tr>
        <tr *ngFor="let price of priceList">
          <td>
            {{price?.companyName}}
          </td>
          <td class="column-aligned">
            {{price?.startTime}}
          </td>
          <td class="column-aligned">
            {{price?.endTime}}
          </td>
          <td class="column-aligned small">
            <input #p id="pricePerMonth" name="pricePerMonth" type="number" [(ngModel)]="price.pricePerMonth">
          </td>
          <td class="button-column dark">
            <input type="button" class="button" value="Установить" [disabled]="price?.initialPrice === price?.pricePerMonth" (click)="updatePrice(price, p.value)">
          </td>
        </tr>
      </table>


    </div>
  </div>
</div>
