<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <h4>WAREHOUSE</h4>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <button type="button" class="button">Выйти</button>
      </li>
    </ul>
  </div>
</div>



<div class="container">

  <div class="row">
    <div class="large-2 small-2">
      <ul class="menu vertical">
        <li><a [routerLink]="['./user']" [routerLinkActive]="['active']">Пользователи</a></li>
        <li><a [routerLink]="['./goods']" [routerLinkActive]="['active']">Товары</a></li>
        <li><a [routerLink]="['./act']" [routerLinkActive]="['active']">Акты</a></li>
        <!--<li><a [routerLink]="['../warehousecompany']" [routerLinkActive]="['active']">Моя компания</a></li>-->
      </ul>
    </div>


    <div class="large-10 small-10">
      <app-dispatcher-desktop></app-dispatcher-desktop>
    </div>
  </div>
</div>

