.main-container {
  padding-left: 20px;
}

.form-container {
  margin-top: 50px;
}

.button-right {
  text-align: right;
  .button {
    display: inline;
  }
}

.head {
  //text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  padding: 7px;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.spinner {
  float: left;
  margin-right: 10px;
}

.border-bottom {
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
}
