<div class="form-container">
  <h4>Описание накладной</h4>
  <form [formGroup]="invoiceForm">
    <label>
      Номер ТТН: {{invoiceForm.controls['number'].value}}
    </label>

    <label>
      Дата выписки ТТН: {{invoiceForm.controls['issueDate'].value}}
    </label>

    <label>
      Перевозчик: {{invoiceForm.controls['transportCompany'].value.name}}
    </label>

    <label>
      Получатель: {{invoiceForm.controls['receiverCompany'].value.name}}
    </label>

    <label>
      Номер транспортного средства: {{invoiceForm.controls['transportNumber'].value}}
    </label>

    <label>
      Название транспортного средства: {{invoiceForm.controls['transportName'].value}}
    </label>

    <label>
      Описание: {{invoiceForm.controls['description'].value}}
    </label>

    <label>
      Общая цена: {{invoiceForm.controls['goodsEntryCount'].value}}
    </label>

    <div>
      <h4>Товары</h4>
      <table>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Вес</th>
        </tr>
        <tr *ngFor="let goods of goodsList">
          <th>{{goods.name}}</th>
          <th>{{goods.quantity}} {{goods.quantityUnit.name}}</th>
          <th>{{goods.price}} {{goods.priceUnit.name}}</th>
          <th>{{goods.weight}} {{goods.weightUnit.name}}</th>
        </tr>
      </table>
    </div>
    <div [ngSwitch]="status">
      <div *ngSwitchCase="invoiceStatus.REGISTERED_OUTGOING">
        <div *ngIf="isController()">
          <input type="button" class="button" (click)="allowRelease()" value="Разрешить выпуск">
        </div>
      </div>
      <div *ngSwitchCase="invoiceStatus.RELEASE_ALLOWED">
        <div *ngIf="isDispatcher()">
          <input type="button" class="button" (click)="allowMovingOut()" value="Разрешить вывоз">
        </div>
      </div>
    </div>
  </form>
</div>
