<div class="translucent-form-overlay">
  <form method="post">
    <h3>Информация о компании</h3>
    <div class="row columns">
      <label>Наименование
        <input type="text" name="name" placeholder="Наименование компании..." [(ngModel)]="warehouseCompany.name" #name="ngModel" required/>
        <div [hidden]="name.valid || name.untouched" class="callout alert">
          Не задано имя компании
        </div>
      </label>
    </div>
    <div class="row columns" *ngIf="isRegistration">
      <label>eMail владельца
        <input type="email" name="email1" placeholder="example@host.com" [(ngModel)]="emailAddress" #email="ngModel"
               required email />
      </label>
      <div [hidden]="email.valid || email.untouched" class="callout alert">
        Некорректный email
      </div>
    </div>

    <div class="row columns">
      <label>Адрес компании
        <div class="input-group">
          <input type="text" name="address" placeholder="Введите адрес или укажите место на карте..." [(ngModel)]="address">
          <div class="input-group-button">
            <button type="button" class="primary button" (click)="checkout()">
              Проверить
            </button>
          </div>
        </div>
      </label>
    </div>

    <div class="row columns right">
      <button [disabled]="name.invalid" type="button" class="alert button" (click)="registration(warehouseCompany)">
        Сохранить
      </button>
      <button (click)="back()" type="button" class="primary button">
        Отмена
      </button>
      <button type="reset" class="secondary button">
        Очистить
      </button>
    </div>

    <sebm-google-map
      [latitude]="map.lat"
      [longitude]="map.lng"
      [zoom]="map.zoom"
      [disableDefaultUI]=false
      [zoomControl]=false
      (mapClick)="map.mapClicked($event)">
      <sebm-google-map-marker
        *ngFor="let m of map.markers; let i = index"
        (markerClick)="clickedMarker(m, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable] = "m.draggable"
        (dragEnd) = "markerDragEnd(m , $event)">
        <sebm-google-map-info-window>
          <strong>{{m.name}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>

  </form>
</div>
