<table class="hover">
  <tr>
    <th (click)="sort('status')">Статус</th>
    <th (click)="sort('date')">Дата</th>
    <th (click)="sort('lastName')">Фамилия</th>
    <th (click)="sort('firstName')">Имя</th>
    <th (click)="sort('patronymic')">Отчество</th>
    <th (click)="sort('note')">Примечание</th>
  </tr>
  <tr *ngFor="let status of statuses;let i=index;">
    <td>
      {{statusMessages.get(status.name)}}
    </td>
    <td >
      {{status.date| date:'dd.MM.yyyy HH:mm:ss'}}
    </td>
    <td>
      {{status.user.lastName}}
    </td>
    <td>
      {{status.user.firstName}}
    </td>
    <td>
      {{status.user.patronymic}}
    </td>
    <td>
      {{status.note}}
    </td>
  </tr>


</table>
