.form-container {
  margin-top: 50px;
}

.button-right {
  text-align: right;
}

.cell-container {
  display: table;
  border-collapse: collapse;
  margin-bottom: 20px;
  .cell-item {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }
  float: left;
}

.buttons {
  display: inline-block;
  float: right;
  button {
    height: 40px;
  }
}
