<div class="callout" data-closable>
  <button class="close-button"  type="button" data-close [routerLink]="['../list']" [routerLinkActive]="['active']">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="form-container">
    <form class="form" #f="ngForm" (ngSubmit)="save()">
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="lastName" class="right">Фамилия:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="lastName" name="lastName" type="text" [(ngModel)]="user.lastName" required/>

              <!--<div data-alert [hidden]="user?.lastName?.valid || user?.lastName?.pristine"-->
                   <!--class="alert-box info radius">-->
                <!--Поле "Фамилия" не может быть пустым-->
              <!--</div>-->

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="firstName" class="right">Имя:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="firstName" name="firstName" type="text" [(ngModel)]="user.firstName"/>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="patronymic" class="right">Отчество:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="patronymic" name="patronymic" type="text" [(ngModel)]="user.patronymic"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="dateOfBirth" class="right">Дата рождения:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="dateOfBirth" name="dateOfBirth" type="text" placeholder="ДД-ММ-ГГГГ"
                     [(ngModel)]="user.dateOfBirth"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="email" class="right">Email:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="email" name="email" type="email" [(ngModel)]="user.email"/>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="login" class="right">Логин:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="login" name="login" type="text" [(ngModel)]="user.login"required/>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="password" class="right">Пароль:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="password" name="password" type="password" [(ngModel)]="user.password" required/>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row head">
        <div class="large-6 small-6 columns">
          <div class="large-9 large-offset-3 small-9 small-offset-3 columns">
            <h4>Адрес проживания:</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="city" class="right">Город:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="city" name="city" type="text" [(ngModel)]="user.city"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="street" class="right">Улица:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="street" name="street" type="text" [(ngModel)]="user.street"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="house" class="right">Дом:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="house" name="house" type="text" [(ngModel)]="user.house"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="apartment" class="right">Квартира:</label>
            </div>
            <div class="large-9 small-9 columns">
              <input id="apartment" name="apartment" type="text" [(ngModel)]="user.apartment"/>
            </div>
          </div>
        </div>
      </div>


      <hr>
      <div class="row head">
        <div class="large-6 small-6 columns">
          <div class="large-9 large-offset-3 small-9 small-offset-3 columns">
            <h4>Рабочие данные:</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label for="warehouse" class="right">Склад:</label>
            </div>
            <div class="large-9 small-9 columns">
              <select id="warehouse" name="warehouse" [(ngModel)]="user.warehouse" required>
                <option *ngFor="let warehouse of warehouseList" [ngValue]="warehouse">
                  {{warehouse.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-6 columns">
          <div class="row">
            <div class="large-3 small-3 columns">
              <label>Должность:</label>
            </div>
            <div class="large-9 small-9 columns">
              <div *ngFor="let role of roles; let i = index;">
                <input type="checkbox" (ngModel)="role.description"> <label>{{role.name}}</label>
              </div>

              <!--<div *ngFor="let role of currentUser.roles">-->
              <!--<input id="role" name="role" type="checkbox">{{rolesMap.get(role.role).name}}-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-3 large-offset-9 small-3 small-offset-9 columns button-right">
          <!--<a href="" class="button" (click)="save(user)">Сохранить</a>-->
          <input class="button" type="submit" [disabled]="!f.form.valid" value="Сохранить">
        </div>
      </div>
    </form>

  </div>
</div>


