<style>
  .strong {
    color: white;
  }

  .serv_icon {
    font-size: 1000%;
  }

  .social_icon {
    font-size: 200%;
    background:#535353;
    color: #acacac;
  }

  .sebm-google-map-container {
    height: 600px;
  }
</style>

<section class="hero">

  <header>
    <div class="row">
      <nav class="top-bar" data-topbar role="navigation">

        <!--    Start Logo    -->
        <ul class="title-area">
          <li class="name">
            <a href="#" class="logo">
              <h1>warehouse<span class="tld">.com</span></h1>
            </a>
          </li>
          <span class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></span>
        </ul>
        <!--    End Logo    -->

        <!--    Start Navigation Menu    -->
        <section class="top-bar-section" id="mean_nav">
          <ul class="right">
            <a [routerLink]="['../warehousecompany']" [routerLinkActive]="['active']">
              WAREHOUSE COMPANY
            </a>
            <li><a href="#services">сервис</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a [routerLink]="['../warehousecompany/registration']" [routerLinkActive]="['active']">Регистрация</a></li>
            <li><a href="#about">о нас</a></li>
          </ul>
        </section>
        <!--    End Navigation Menu    -->

      </nav>
    </div>
  </header>

  <!--    Start Hero Caption    -->
  <section class="caption">
    <div class="row">
      <h1 class="mean_cap">Система управления складами</h1>
      <h2 class="sub_cap">Less Is More.</h2>
      <a href="#" class="btn_details"><span>Узнать больше</span> <img src="../../../images/btn_arrow.png" alt="" src="" class="arrow"></a>
    </div>
  </section>
  <!--    End Hero Caption    -->

</section>
<div class="sign-in"><a [routerLink]="['../login']" [routerLinkActive]="['active']"><h1>Sign in</h1></a></div>

<section class="services" id="services">

  <!--    Start Services Titles    -->
  <div class="row">
    <h1 class="mean_title">Почему стоит выбрать именно нас?</h1>
  </div>
  <!--    End Services Titles    -->

  <!--    Start Services List    -->
  <div class="row services_list">
    <div class="small-12 medium-3 large-3 columns">
      <i class="fi-graph-trend serv_icon"></i>
      <h2 class="title">Стабильный рост клиентов</h2>
      <p>Уже более 100500 клиентов работают в данной системе</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <i class="fi-dollar serv_icon"></i>
      <h2 class="title">Расчёт оборота трафика</h2>
      <p>Возможность получения наиболее полной и правдободобной информации о деятельности всех направлений</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <i class="fi-clipboard-pencil serv_icon"></i>
      <h2 class="title">Удобная система учёта</h2>
      <p>Простой и интуитивно понятный интерфейс программы, в котором можно учитывать абсолютно все факторы</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <i class="fi-lightbulb serv_icon"></i>
      <h2 class="title">Есть идеи?</h2>
      <p>Напишете нам <a>сюда</a>, и мы его обязательно рассмотрим и дадим обратную связь</p>
    </div>
  </div>
  <!--    End Services List    -->

</section>
<!--  End Services Section  -->

<!--  Start Quote Section  -->
<section class="quote">
  <blockquote>
    <p><span class="strong">Одни из первых на рынке с многолетней историей.</span></p>
  </blockquote>
</section>
<!--  End Quote Section  -->


<!--  Start Call To Action Section  -->
<section class="cta" id="Download">
  <div class="row">
    <!--    Start CTA Titles    -->
    <h1 class="title">Зарегистрируйтесь прямо сейчас и получите все преимущества</h1>
    <h2 class="sub_title">Откройте мир новых возможностей с онлайн-сервисом для управления складами</h2>
    <!--    End CTA Titles    -->

    <!--    Start Button    -->
    <a href="#" class="btn_fancy">
      <div class="solid_layer"></div>

      <div class="text_layer">Начать использовать</div>
    </a>
    <!--    End Button    -->

  </div>
</section>
<!--  End Call To Action Section  -->



<!--  Start Map Section  -->
<section class="map" id="connect">

  <!--    Start Map Shadow    -->
  <div class="shadow"></div>
  <!--    End Map Shadow    -->

  <div id="map_container">
    <!--MAP FROM ANGULAR2-->
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
    [disableDefaultUI]=false
    [zoomControl]=false
    (mapClick)="mapClicked($event)">
      <sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable] = "m.draggable"
        (dragEnd) = "markerDragEnd(m , $event)"
      >
        <sebm-google-map-info-window>
          <strong>{{m.name}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
    <!--END OF MAP FROM ANGULAR2-->
  </div>
</section>
<!--  End Map Section  -->

<!--  Start Footer Section  -->
<footer>
  <div class="row">

    <!--    Start Copyrights    -->
    <div class="small-12 medium-4 large-4 columns">
      <div class="copyrights">
        <a class="logo" href="#">
          <h1>warehouse<span class="tld">.com</span></h1>
        </a>
        <p>Copyright © 2017-2017 Kirill Zyusko.</p>
      </div>
    </div>
    <!--    End Copyrights    -->


    <div class="small-12 medium-8 large-8 columns">
      <div class="contact_details right">
        <nav class="social">
          <ul class="no-bullet">
            <li>
              <i class="fi-social-facebook social_icon"></i>
              <a href="http://facebook.com/warehouse" target="_blank">Facebook</a>
            </li>
            <li>
              <i class="fi-social-instagram social_icon"></i>
              <a href="http://instagram.com/warehouse" target="_blank">Instagram</a>
            </li>
            <li>
              <i class="fi-social-twitter social_icon"></i>
              <a href="http://twitter.com/warehouse" target="_blank">Twitter</a>
            </li>
            <li>
              <i class="fi-social-google-plus social_icon"></i>
              <a href="http://plus.google.com/+warehouse" target="_blank">Google+</a>
            </li>
          </ul>
        </nav>

        <div class="contact">
          <div class="details">
            <p>zyusko.kirik@gmail.com</p>
            <p>+375(29)922-71-63</p>
          </div>

          <p class="adress">Minsk, Kolasa 28</p>
        </div>
      </div>
    </div>

  </div>
</footer>
<!--  End Footer Section  -->

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>
  <div class="text_layer"><img src="src/images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>
