<section class="hero">
  <header>
    <div class="row">
      <nav class="top-bar" data-topbar role="navigation">

        <!--    Start Logo    -->
        <ul class="title-area">
          <li class="name">
            <a href="#" class="logo">
              <h1>warehouse<span class="tld">.com</span></h1>
            </a>
          </li>
          <span class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></span>
        </ul>
        <!--    End Logo    -->

        <!--    Start Navigation Menu    -->
        <section class="top-bar-section" id="mean_nav">
          <ul class="right">
            <a [routerLink]="['./warehousecompany']" [routerLinkActive]="['active']">
              WAREHOUSE COMPANY
            </a>
            <li><a href="#services">сервис</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#Download">Download</a></li>
            <li><a href="#about">о нас</a></li>
          </ul>
        </section>
        <!--    End Navigation Menu    -->

      </nav>
    </div>
  </header>

  <!--    Start Hero Caption    -->
  <section class="caption">
    <div class="row">
      <h1 class="mean_cap">Система управления складами</h1>
      <h2 class="sub_cap">Less Is More.</h2>
      <a href="#" class="btn_details"><span>Узнать больше</span> <img src="../../../images/btn_arrow.png" alt="" src="" class="arrow"></a>
    </div>
  </section>
  <!--    End Hero Caption    -->

</section>

<section class="services" id="services">

  <!--    Start Services Titles    -->
  <div class="row">
    <h1 class="mean_title">Почему стоит выбрать именно нас?</h1>
  </div>
  <!--    End Services Titles    -->

  <!--    Start Services List    -->
  <div class="row services_list">
    <div class="small-12 medium-3 large-3 columns">
      <img src="src/images/graph.jpg" alt="" title="" class="serv_icon"/>
      <h2 class="title">Стабильный рост клиентов</h2>
      <p>Уже более 100500 клиентов работают в данной системе</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <img src="src/images/money.jpg" alt="" title="" class="serv_icon"/>
      <h2 class="title">Удобный граический дизайн</h2>
      <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <img src="src/images/task.jpg" alt="" title="" class="serv_icon"/>
      <h2 class="title">Test The App</h2>
      <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="small-12 medium-3 large-3 columns">
      <img src="src/images/case.jpg" alt="" title="" class="serv_icon"/>
      <h2 class="title">Launch The App</h2>
      <p>Ruis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <!--    End Services List    -->

  <!--    Start Button    -->
  <div class="btn_holder">
    <a href="#" class="btn_fancy">
      <div class="solid_layer"></div>

      <div class="text_layer">Get In Touch</div>
    </a>
  </div>
  <!--    End Button    -->

</section>
<!--  End Services Section  -->

<!--  Start Quote Section  -->
<section class="quote">
  <blockquote>
    <p><span class="strong">Одни из первых на рынке с многолетней историей.</span></p>
  </blockquote>
</section>
<!--  End Quote Section  -->


<!--  Start Call To Action Section  -->
<section class="cta" id="Download">
  <div class="row">

    <!--    Start CTA Titles    -->
    <h1 class="title">Volcano Free Responsive Zurb Foundation Template.</h1>
    <h2 class="sub_title">Crafted With Care & attention to details by pixelhint.com</h2>
    <!--    End CTA Titles    -->

    <!--    Start Button    -->
    <a href="#" class="btn_fancy">
      <div class="solid_layer"></div>

      <div class="text_layer">Get It Now!</div>
    </a>
    <!--    End Button    -->

  </div>
</section>
<!--  End Call To Action Section  -->



<!--  Start Map Section  -->
<section class="map" id="connect">

  <!--    Start Map Shadow    -->
  <div class="shadow"></div>
  <!--    End Map Shadow    -->

  <div id="map_container"></div>
</section>
<!--  End Map Section  -->

<!--  Start Footer Section  -->
<footer>
  <div class="row">

    <!--    Start Copyrights    -->
    <div class="small-12 medium-4 large-4 columns">
      <div class="copyrights">
        <a class="logo" href="#">
          <h1>warehouse<span class="tld">.com</span></h1>
        </a>
        <p>Copyright © 2017-2017 Kirill Zyusko.</p>
      </div>
    </div>
    <!--    End Copyrights    -->


    <div class="small-12 medium-8 large-8 columns">
      <div class="contact_details right">
        <nav class="social">
          <ul class="no-bullet">
            <li><a href="http://facebook.com/pixelhint" target="_blank">Facebook</a></li>
            <li><a href="http://instagram.com/pixelhint" target="_blank">Instagram</a></li>
            <li><a href="http://twitter.com/pixelhint" target="_blank">Twitter</a></li>
            <li><a href="http://plus.google.com/+Pixelhint" target="_blank">Google+</a></li>
          </ul>
        </nav>

        <div class="contact">
          <div class="details">
            <p>zyusko.kirik@gmail.com</p>
            <p>+375(29)922-71-63</p>
          </div>

          <p class="adress">Minsk, Kolasa 28</p>
        </div>
      </div>
    </div>

  </div>
</footer>
<!--  End Footer Section  -->

<!--    Start Back To Top    -->
<a href="#" class="btn_fancy" id="back_top">
  <div class="solid_layer"></div>
  <div class="text_layer"><img src="src/images/top_arrow.png" alt="Back to top" title="" class="top_arrow"></div>
</a>

<!--    Javascript Files    -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/touchSwipe.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/foundation.min.js"></script>
<script type="text/javascript" src="js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="js/carouFredSel.js"></script>
<script type="text/javascript" src="js/scrollTo.js"></script>
<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/main.js"></script>
