.header {
  padding: 0 0 0 10px;
  .title {
    margin: 0;
  }

  .welcome {
    margin-left: 50px;

  }

  ul {
    margin: 0;
    button {
      height: 47px;
      width: 100px;
      font-size: 1.05rem;

    }
  }

}

//background: #2199e8;
