<div class="row">
  <div class="large-12 small-12 columns">
    <div *ngIf="invoices.length == 0; else hasInvoices">
      <h4>Нет входящих накладных</h4>
    </div>
    <ng-template #hasInvoices>
      <table class="hover">
        <thead>
        <tr>
          <th>Номер ТТН</th>
          <th>Дата выписки</th>
          <th>Отправитель</th>
          <th>Перевозчик</th>
          <th>Статус</th>
          <!--<th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" *ngFor="let invoice of invoices" (click)="goToDetails(invoice.id)">
          <td>
            {{invoice.number}}
          </td>
          <td>
            {{invoice.issueDate}}
          </td>
          <td>
            {{invoice.supplierCompany.name}}
          </td>
          <td>
            {{invoice.transportCompany.name}}
          </td>
          <td>
            {{invoiceStatuses.get(invoice.status)}}
          </td>
          <!--<td>-->
          <!--<button (click)="delete(invoice)">-->
          <!--Удалить-->
          <!--</button>-->
          <!--</td>-->
        </tr>
        </tbody>
      </table>
    </ng-template>

    <!-- todo create pagination -->
  </div>
</div>

<div *ngIf="isDispatcher()">
  <div class="row">
    <div class="large-12 small-12 columns">
      <input class="button" type="button" (click)="createIncomingInvoice()" value="Создать">
    </div>
  </div>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>
