<div>
  <form [formGroup]="companyForm"
        (ngSubmit)="onSubmit(companyForm)">
    <label>
      Доверенный
      <input type="checkbox"
             [formControl]="companyForm.controls['isTrusted']">
    </label>

    <label>
      Имя
      <input type="text"
             [formControl]="companyForm.controls['name']">
    </label>

    <!-- todo do we even need it -->
    <!--<div *ngIf="company.isTrusted">-->
      <!--<label>-->
        <!--Логин-->
        <!--<input type="text" name="login">-->
      <!--</label>-->

      <!--<label>-->
        <!--Пароль-->
        <!--<input type="password">-->
      <!--</label>-->
    <!--</div>-->

    <input type="submit">
  </form>
</div>
