<div>
  <table class="hover">
    <tr>
      <th>Статус</th>
      <th>Название</th>
      <th></th>
    </tr>
    <tr *ngFor="let company of companies">
      <td>
        <input type="checkbox" name="isTrusted" [(ngModel)]="company.isTrusted" />
      </td>
      <td>
        <a [routerLink]="['/tr-company', company.id]" >
          {{company.name}}
        </a>
      </td>
      <td>
      </td>
      <td>
        <button (click)="delete(company)">
          Удалить
        </button>
      </td>
    </tr>
  </table>

  <!-- todo create pagination -->

  <a routerLink='new'>Создать</a>

</div>
