<div class="row">
  <div class="large-12 small-12 columns">
    <table class="hover">
      <thead>
      <tr>
        <th>Название</th>
        <th>Доверенный</th>
        <!--<th></th>-->
      </tr>
      </thead>
      <tr *ngFor="let company of companies">
        <td class="clickable" (click)="goToDetails(company.id)">
          {{company.name}}
        </td>
        <td>
          <span *ngIf="company.isTrusted; else notTrusted">Да</span>
          <ng-template #notTrusted>
            <span>Нет</span>
          </ng-template>
        </td>
        <!--<td>-->
        <!--<i class="fi-x icon" (click)="delete(company)"></i>-->
        <!--</td>-->
      </tr>
    </table>

    <!-- todo create pagination -->
  </div>
</div>

<div class="row">
  <div class="large-12 small-12 columns">
    <input type="button" class="button" value="Создать"
           (click)="createCompany()">
  </div>
</div>
