<div>
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm)">
    <label>
      Номер ТТН
      <input type="text" [formControl]="invoiceForm.controls['number']">
    </label>

    <label>
      Дата выписки ТТН
      <input type="date" [formControl]="invoiceForm.controls['issueDate']">
    </label>

    <button type="button" (click)="openTransportModal()">Выбрать перевозчика</button>

    <button type="button" (click)="openSupplierModal()">Выбрать отправителя</button>

    <label>
      Номер транспортного средства
      <input type="text" [formControl]="invoiceForm.controls['transportNumber']">
    </label>

    <label>
      Название транспортного средства
      <input type="text" [formControl]="invoiceForm.controls['transportName']">
    </label>

    <!-- todo
    <label>
      Водитель
      <input type="text" [formControl]="invoiceForm.controls['driver']">
    </label>
    -->

    <label>
      Описание
      <textarea [formControl]="invoiceForm.controls['description']"></textarea>
    </label>

    <label>
      Сумма товаров по ТТН
      <input type="number" [formControl]="invoiceForm.controls['goodsEntryCount']">

      <select [formControl]="invoiceForm.controls['goodsEntryCountUnit']" required>
        <option *ngFor="let unit of units" [value]="unit.name">
          {{unit.name}}
        </option>
      </select>
    </label>

    <label>
      Количество наименований товаров по ТТН
      <input type="number" [formControl]="invoiceForm.controls['goodsQuantity']">

      <select [formControl]="invoiceForm.controls['goodsQuantityUnit']" required>
        <option *ngFor="let unit of units" [value]="unit.name">
          {{unit.name}}
        </option>
      </select>
    </label>

    <div>
      <h2>Товары</h2>
      <table>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Вес</th>
          <th></th>
        </tr>
        <tr *ngFor="let goods of goodsList">
          <th>{{goods.name}}</th>
          <th>{{goods.quantity}} {{goods.quantityUnit.name}}</th>
          <th>{{goods.price}} {{goods.priceUnit.name}}</th>
          <th>{{goods.weight}} {{goods.weightUnit.name}}</th>
          <th>
            <button (click)="deleteGoods(goods)">
              Удалить
            </button>
          </th>
        </tr>
      </table>

      <button type="button" (click)="createGoods()">Создать товар</button>
    </div>

    <input type="submit">
  </form>

  <div class="reveal" id="transportModal" data-reveal >
    <button class="close-button" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <input #transportSearchParams
           type="text" placeholder="Введите название..."
           (keypress)="refreshTransportCompanies(transportSearchParams.value)">
    <table>
      <tr>
        <th>Название</th>
      </tr>
      <tr *ngFor="let company of transportCompanies"
          (click)="onTransportChosen(company)">
        <td>
          {{company.name}}
        </td>
      </tr>
    </table>
    <input type="button" value="ОК" (click)="saveTransport()">
    <input type="button" value="Отмена" (click)="closeTransportModal()">
  </div>

  <div class="reveal" id="supplierModal" data-reveal >
    <button class="close-button" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <input #supplierSearchParams
           type="text" placeholder="Введите название..."
           (keypress)="refreshSupplierCompanies(supplierSearchParams.value)">
    <table>
      <tr>
        <th>Название</th>
      </tr>
      <tr *ngFor="let company of supplierCompanies"
          (click)="onSupplierChosen(company)">
        <td>
          {{company.name}}
        </td>
      </tr>
    </table>
    <input type="button" value="ОК" (click)="saveSupplier()">
    <input type="button" value="Отмена" (click)="closeSupplierModal()">
  </div>

  <div class="reveal" id="goodsModal" data-reveal >
    <button class="close-button" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <app-goods-create></app-goods-create>
  </div>
</div>
