@import "../variables";

html {
  position: relative;
  min-height: 100%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}


.preset_1{
  .top-bar{
    background: #f1f1f1;
  }
}

.preset_2{
  .top-bar{
    background: black;
  }
}
