<div class="form-container">
  <form [formGroup]="customerForm"
        (ngSubmit)="onSubmit(customerForm)">
    <div class="row">
      <div class="large-9 small-9 columns">
        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="name" class="right">Название:</label>
          </div>
          <div class="large-9 small-9 columns">
            <input id="name" type="text"
                   [formControl]="customerForm.controls['name']" required/>
            <div class="callout alert"
                 *ngIf="customerForm.controls['name'].hasError('required') && customerForm.get('name').touched">
              Поле "Название" не может быть пустым
            </div>
            <div class="callout alert"
                 *ngIf="!customerForm.controls['name'].valid &&
                    !customerForm.controls['name'].hasError('required') &&
                     customerForm.get('name').touched">
              Название может содержать только буквы, цифры и пробелы
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row columns">
      <label>Адрес компании
        <div class="input-group">
          <input type="text" name="x" placeholder="Введите адрес или укажите место на карте..." [(ngModel)]="address">
          <div class="input-group-button">
            <button type="button" class="primary button" (click)="checkout()">
              Проверить
            </button>
          </div>
        </div>
      </label>
    </div>

    <!--<div class="row">
      <div class="large-9 small-9 columns">
        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="name" class="right">Координаты:</label>
          </div>
          <div class="large-3 small-3 columns">
            <input type="number" placeholder="X"
                   [formControl]="customerForm.controls['x']" required/>
            <div class="callout alert"
                 *ngIf="customerForm.controls['x'].hasError('required') && customerForm.get('x').touched">
              Поле "Координата X" не может быть пустым
            </div>
            <div class="callout alert"
                 *ngIf="!customerForm.controls['x'].valid &&
                    !customerForm.controls['x'].hasError('required') &&
                     customerForm.get('x').touched">
              Координата X может содержать только буквы, цифры и пробелы
            </div>
          </div>
          <div class="large-3 small-3 columns">
            <input type="number" placeholder="Y"
                   [formControl]="customerForm.controls['y']" required/>
            <div class="callout alert"
                 *ngIf="customerForm.controls['y'].hasError('required') && customerForm.get('y').touched">
              Поле "Координата Y" не может быть пустым
            </div>
            <div class="callout alert"
                 *ngIf="!customerForm.controls['y'].valid &&
                    !customerForm.controls['y'].hasError('required') &&
                     customerForm.get('y').touched">
              Координата Y может содержать только буквы, цифры и пробелы
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="row">
      <div class="large-9 small-9 columns button-right">
        <input class="button" type="submit"
               [disabled]="!customerForm.valid" value="Сохранить">
      </div>
    </div>

    <sebm-google-map
      [latitude]="map.lat"
      [longitude]="map.lng"
      [zoom]="map.zoom"
      [disableDefaultUI]=false
      [zoomControl]=false
      (mapClick)="map.mapClicked($event)">
      <sebm-google-map-marker
        *ngFor="let m of map.markers; let i = index"
        (markerClick)="clickedMarker(m, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable] = "m.draggable"
        (dragEnd) = "markerDragEnd(m , $event)">
        <sebm-google-map-info-window>
          <strong>{{m.name}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>

  </form>
</div>
