<div>
  <h4>Описание накладной</h4>
  <form [formGroup]="invoiceForm">
    <label>
      Номер ТТН: {{invoiceForm.controls['number'].value}}
    </label>

    <label>
      Дата выписки ТТН: {{invoiceForm.controls['issueDate'].value}}
    </label>

    <label>
      Перевозчик: {{invoiceForm.controls['transportCompany'].value.name}}
    </label>

    <label>
      Отправитель: {{invoiceForm.controls['supplierCompany'].value.name}}
    </label>

    <label>
      Номер транспортного средства: {{invoiceForm.controls['transportNumber'].value}}
    </label>

    <label>
      Название транспортного средства: {{invoiceForm.controls['transportName'].value}}
    </label>

    <label>
      Описание: {{invoiceForm.controls['description'].value}}
    </label>

    <label>
      Сумма товаров: {{invoiceForm.controls['goodsEntryCount'].value}} {{invoiceForm.controls['goodsEntryCountUnit'].value.name}}
    </label>

    <label>
      Количество наименований товаров: {{invoiceForm.controls['goodsQuantity'].value}} {{invoiceForm.controls['goodsQuantityUnit'].value.name}}
    </label>

    <div>
      <h4>Товары</h4>
      <table>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Вес</th>
        </tr>
        <tr *ngFor="let goods of goodsList">
          <th>{{goods.name}}</th>
          <th>{{goods.quantity}} {{goods.quantityUnit.name}}</th>
          <th>{{goods.price}} {{goods.priceUnit.name}}</th>
          <th>{{goods.weight}} {{goods.weightUnit.name}}</th>
        </tr>
      </table>
    </div>
    <div [ngSwitch]="status">
      <div *ngSwitchCase="invoiceStatus.REGISTERED">
        <!--<div *ngIf="isController()">-->
          <input type="button" class="button" (click)="finishChecking()" value="Завершить проверку">
          <input type="button" class="button alert" (click)="createMismatchAct()" value="Оформить акт несоответствия">
        <!--</div>-->
      </div>
      <div *ngSwitchCase="invoiceStatus.CHECKED">
        <!--<div *ngIf="isDispatcher()">-->
          <input type="button" class="button" (click)="finishCompleting()" value="Завершить оформление">
        <!--</div>-->
      </div>
    </div>
  </form>
</div>
