<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Схема склада</title>
  <style>
    #space {
      background-color: #69D9FF;
      float: left;
      margin: 5%;
    }

    #cell {
      background-color: #fbdd90;
      height: auto;
      width: 20%;
      float: left;
      margin: 5px;
      border-color: black;
      border: solid;
      align: center;
    }
  </style>
</head>

<body>
<h1 align="center">Схема склада</h1>

  <div id="space" *ngFor="let space of storageSpace">
    <h5 align="center">{{space?.idStorageSpace}} - <a href="#">{{space?.storageSpaceType.name}}</a></h5>
    <div align="center" id="cell" *ngFor="let cell of space.storageCellList">
      <a href="#">{{cell?.idStorageCell}}</a>
    </div>
  </div>

</body>
</html>
