table {
  .highlight {
    background-color: #767676;
    color: #fefefe;
  }
}

.button-left {
  text-align: left;
}

.button-right {
  text-align: right;
}

.form-container {
  margin-top: 35px;
}

.border-bottom {
  margin-bottom: 20px;
}
