<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Склады компании</title>
  <style>
    .icon {
      font-size: 170%;
      text-align: center;
    }

    .sebm-google-map-container {
      height: 350px;
    }

    .switch {
      color: black;
    }
  </style>
</head>
<body>
<h1 style="text-align: center">Склады</h1>

<div class="input-group">
  <input class="input-group-field" (keyup)="search()" name="name" [(ngModel)]="warehouse_search.name"
         placeholder="Название склада...">
  <div class="input-group-button">
    <input type="submit" class="button" (click)="search()" value="Поиск">
  </div>
</div>
<p class="help-text" id="passwordHelpText">Начните вводить название склада</p>

<div class="switch">
  Показывать удалённые
  <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch" [(ngModel)]="isShowDeleted">
  <label class="switch-paddle" for="exampleSwitch">&nbsp; <small>On</small>&nbsp;&nbsp;&nbsp;<small>Off</small>
    <span class="show-for-sr">Download Kittens</span>
  </label>
</div>

<a><i class="right fi-x icon"></i></a>
<a><i class="right fi-pencil icon"></i></a>
<a class="right" [routerLink]="['../../registration']" [routerLinkActive]="['active']" (click)="registration(id)">
  <i class="fi-plus icon"></i>
</a>
<table class="hover">
  <thead>
  <tr>
    <th><i class="fi-checkbox icon"></i></th>
    <th>Номер склада</th>
    <th>Название склада</th>
    <th><i class="fi-pencil icon"></i></th>
    <th><i class="fi-x icon"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of warehouse">
    <td *ngIf="company.status || isShowDeleted"><input type="checkbox" value="{{company?.idWarehouse}}"></td>
    <td *ngIf="company.status || isShowDeleted">{{company?.idWarehouse}}</td>
    <td *ngIf="company.status || isShowDeleted">
      <a (click)="findSpace(company.idWarehouse)">{{company?.name}}</a>
    </td>
    <td *ngIf="company.status || isShowDeleted">
      <a (click)="edit(company?.idWarehouse)"><i class="fi-pencil icon"></i></a>
    </td>
    <td *ngIf="company.status">
      <a (click)="delete(company?.idWarehouse)"><i class="fi-x icon"></i></a>
    </td>
    <td *ngIf="!company.status && isShowDeleted">
      <a (click)="restore(company?.idWarehouse)"><i class="fi-trash icon"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li *ngIf="page!=1" class="pagination-previous">
    <a (click)="prevPage()" aria-label="Prev page"></a>
  </li>
  <li *ngIf="page==1" class="pagination-previous disabled" aria-label="Prev page"></li>
  <li class="current"><span class="show-for-sr">Вы на странице</span>{{page}}</li>
  <li *ngIf="!isLastPage" class="pagination-next"><a (click)="nextPage()" aria-label="Next page"></a></li>
  <li *ngIf="isLastPage" class="pagination-next disabled" aria-label="Next page"></li>

  <div class="item-counter">
    <select name="items-count-selector" id="items-count-selector" [(ngModel)]="itemsOnPage" (change)="getData(0)">
      <option *ngFor="let item of itemsOnPageArray; let i=index" [ngValue]=item>{{item}}</option>
    </select>
  </div>
  <h5 class="item-counter">Отображать по:</h5>

</ul>


<div class="row">
  <div class="large-6 columns chart" style="display: block" *ngIf="isDataAvailable">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="ChartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div class="large-6 columns chart" style="display: block" *ngIf="isDataAvailable">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
<br>
<div id="map_container" *ngIf="map.isDataAvailable">
  <!--MAP FROM ANGULAR2-->
  <sebm-google-map
    [latitude]="map.lat"
    [longitude]="map.lng"
    [zoom]="map.zoom"
    [disableDefaultUI]=false
    [zoomControl]=false
    (mapClick)="mapClicked($event)">
    <sebm-google-map-marker
      *ngFor="let m of map.markers; let i = index"
      (markerClick)="clickedMarker(m, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m , $event)"
    >
      <sebm-google-map-info-window>
        <strong>{{m.name}}</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
  <!--END OF MAP FROM ANGULAR2-->
</div>
<br>
</body>
</html>
