<div class="content">
  <div class="row">
    <div class="large-9 small-9 columns">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <!-- Accordion tab title -->
          <a class="accordion-title">Параметры поиска</a>
          <div class="accordion-content" data-tab-content>
            <app-goods-search [statusNames]="statusNames"
                              [storageTypes]="storageTypes"
                              [weightUnits]="weightUnits"
                              [priceUnits]="priceUnits"
                              [quantityUnits]="quantityUnits"></app-goods-search>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 small-12 columns">
      <app-goods-list [statusNames]="statusNames"
                      [goodsList]="goodsList"
                      [totalItemsCount]="totalGoodsCount"
                      (onGetPage)="getGoods($event)"
                      (onSearch)="search($event)"
                      (onSelected)="onSelected($event)"
                      [isEditable]="isEditable"></app-goods-list>
    </div>
  </div>

  <app-list-controls *ngIf="isEditable" (onSaveChanges)="saveChanges()"
                     (onCancelChanges)="cancelChanges()"
                     (onOpenStatusModal)="batchStatusUpdate()"
                     [hasChanged]="hasChanged"
                     [hasSelected]="hasSelected"></app-list-controls>

</div>



