table {
  cursor: default;
  .clickable {
    cursor: pointer;
  }
}
.item-counter {
  display: inline-block;
  float: right;
  margin-right: 25px;
  select {
    font-size: 0.875em;
    height: 32px;
  }
}

.page-current {
  background-color: #1779ba;
  a{
    color: white;
  }
  a:hover {
    background-color: #1779ba;
    color: white;
  }
}
