<div>
  <table class="hover">
    <tr>
      <th (click)="sort('date')">Дата</th>
      <th (click)="sort('type')">Тип</th>
      <th (click)="sort('lastName')">Фамилия</th>
      <th (click)="sort('firstName')">Имя</th>
      <th (click)="sort('patronymic')">Отчество</th>
      <th (click)="sort('note')">Примечание</th>
      <!--<th (click)="sort('goods')">Товары</th>-->
    </tr>
    <tr class="clickable" *ngFor="let act of acts; let i=index;" (click)="goToDetails(act)">
      <td>
        {{act.date| date:'dd.MM.yyyy HH:mm:ss'}}
      </td>
      <td>
        {{actTypeMessages.get(act.actType.name)}}
      </td>
      <td>
        {{act.user.lastName}}
      </td>
      <td>
        {{act.user.firstName}}
      </td>
      <td>
        {{act.user.patronymic}}
      </td>
      <td>
        {{act.note}}
      </td>
      <!--<td>-->
      <!--<div *ngFor="let goods of act.goods">-->
      <!--{{goods.name}}-->
      <!--</div>-->
      <!--</td>-->
    </tr>


  </table>

  <ul class="pagination text-center" *ngIf="pageArray?.length>1">
    <li [ngClass]="{'pagination-previous':true, 'disabled':currentPage==1}"><span
      [ngClass]="{'show-for-sr':currentPage==1}"><a (click)="getPage(currentPage-1)"></a></span></li>
    <li [ngClass]="{'page-current': currentPage==page}" *ngFor="let page of pageArray; let i=index;">
      <a (click)="getPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{'pagination-next':true, 'disabled':currentPage==totalPageCount}"><span
      [ngClass]="{'show-for-sr':currentPage==totalPageCount}"><a (click)="getPage(currentPage+1)"></a></span></li>
    <div class="item-counter">
      <select name="items-count-selector" id="items-count-selector" [(ngModel)]="itemsOnPage" (change)="getPage(1)">
        <option *ngFor="let item of itemsOnPageArray; let i=index" [ngValue]=item>{{item}}</option>
      </select>
    </div>
  </ul>


</div>
