i {
  font-size: 3rem;
  cursor: pointer;
  margin: 0.5rem;
  &:hover {
    opacity: 0.8;
  }
}

.right {
  text-align: right;
  float: right;
}

.item-counter {
  display: inline-block;
  float: right;
  margin-right: 25px;
  select {
    font-size: 1em;
    height: 32px;
  }
}
