<!--<input type="button button-right" class="button hollow" value="Назад" (click)="back()">-->
<div class="callout">
  <button class="close-button" type="button" (click)="back()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="large-12 small-12 column">
      <div class="row height-3">
        <div class="large-2 small-2 column">
          <b>Время подписания:</b>
        </div>
        <div class="large-10 small-10 column">
          {{act?.date| date:'dd.MM.yyyy HH:mm:ss'}}
        </div>
      </div>
      <div class="row height-3">
        <div class="large-2 small-2 column">
          <b>Тип акта:</b>
        </div>
        <div class="large-10 small-10 column">
          {{actTypeMessages.get(act?.type.name)}}
        </div>
      </div>

      <div class="row height-3">
        <div class="large-2 small-2 column">
          <b>Ответственное лицо:</b>
        </div>
        <div class="large-10 small-10 column clickable" (click)="goToUserDetails()">
          {{act?.user.lastName}} {{act?.user.firstName}} {{act?.user.patronymic}}
        </div>
      </div>


      <div class="row height-3">
        <div class="large-2 small-2 column">
          <b>Примечание: </b>
        </div>
        <div class="large-10 small-10 column">
          {{act?.note}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-12 small-12 column">
      <div class="row">
        <div class="large-2 small-2 column">
          <b>Список товаров:</b>
        </div>
        <div class="large-10 small-10 column clickable" (click)="goToUserDetails()">
          <app-act-goods [goodsList]="act?.goodsList"></app-act-goods>
        </div>
      </div>
    </div>
  </div>






</div>
