/*redefines global foundation variables*/
$global-flexbox: true;

/*global custom variables */
$background-color: #BEEEFF;

//$topbar-background: #2c3840;
$topbar-background: #f1f1f1;
$global-font-size: 90%;

$input-font-size: 1rem;

$form-label-font-size: 1rem;

$global-width: rem-calc(1200);

$menu-margin: 10px;

$accordion-title-font-size: 1rem;

$accordion-item-background-hover: #f1f1f1;
$accordion-plusminus: false;
$accordion-content-border: solid 1px darkgray;
