/*redefines global foundation variables*/
$global-flexbox: true;

/*global custom variables */
$background-color: #BEEEFF;

$topbar-background: #E6E6E6;

$global-font-size: 90%;

$input-font-size: 1rem;

$form-label-font-size: 1rem;

$global-width: rem-calc(1200);

$menu-margin: 10px;

