.container {
  padding-top: 20px;
}

.button-right {
  text-align: right;
}

.input-color {
  padding: 0;
}

.configuration {
  border: solid 1px lightgray;
  margin: 20px;
  padding: 20px;
}

.list {
  list-style-type: none;
  li {
    cursor: -webkit-grab;
  }
}

.email-body {
  border: solid 1px lightgrey;
  height: auto;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.button-signal {
  animation-name: highlight;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes highlight {
  0% {
    border: solid 1px red;
    color: red;
  }
  50% {
    border: solid 1px #1779ba;
    color: #1779ba;
  }
  100% {
    border: solid 1px red;
    color: red;
  }
}

.bordered {
  border: solid 1px lightgray;
  padding: 10px;
  margin-bottom: 30px;
  background: #e7e7e7;
}

.reveal {
  padding-top: 40px;
  height: 180px;
  width: 320px;
}

.spinner {
  display: inline-block;
  margin-left: 10px;
}

.text {
  margin-bottom: 20px;
}

input.center {
  display: block;
  width: 100px;
  margin: auto;
}

.text.center{
  text-align: center;
}
