<div>
  <ul>
    <table class="hover" *ngFor="let goods of goodsList">
      <tr>
        <th>
          <input type="checkbox" (change)="addAllToSelected($event)">
        </th>
        <th>Наименование</th>
        <th>Тип хранения</th>
        <th>Количество</th>
        <th>Ед.изм.</th>
        <th>Цена</th>
        <th>Ед.изм.</th>
        <th>Вес</th>
        <th>Ед.изм.</th>
        <th>Помещение</th>
        <th>Место</th>
      </tr>
      <tr >
        <td>
          <input type="checkbox"  ([ngModel])="act.selected">
        </td>
        <td (click)="goToDetails(goods.id)">
          {{goods.name}}
        </td>
        <td>
          {{goods.storageType.name}}
        </td>
        <td>
          {{goods.quantity}}
        </td>
        <td>
          {{goods.quantityUnit}}
        </td>
        <td>
          {{goods.price}}
        </td>
        <td>
          {{goods.priceUnit}}
        </td>
        <td>
          {{goods.weight}}
        </td>
        <td>
          {{goods.weightUnit}}
        </td>

        <td>
          <select id="status" name="status" (ngModel)="goods.status">
            <option *ngFor="let status of statuses" [ngValue]="status"
                    [selected]="status.id==goods?.status.id">
              {{status.name}}
            </option>
          </select>
        </td>

        <td>
          <div *ngFor="let space of goods.storageSpace">
            <span>{{storageSpace}}</span>
            <div *ngFor="let cell of space.storageCells">
              <span>{{cell}}</span>
            </div>
          </div>
        </td>
        <td>
          <input class="button" type="button"  value="Положить в ячейку">
        </td>
      </tr>
    </table>
  </ul>

  <ul class="pagination text-center" *ngIf="pageArray?.length>1">
    <li [ngClass]="{'pagination-previous':true, 'disabled':currentPage==1}"><span [ngClass]="{'show-for-sr':currentPage==1}"><a (click)="getPage(currentPage-1)"></a></span></li>
    <li [ngClass]="{'page-current': currentPage==page}" *ngFor="let page of pageArray; let i=index;">
      <a (click)="getPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{'pagination-next':true, 'disabled':currentPage==totalPageCount}"><span [ngClass]="{'show-for-sr':currentPage==totalPageCount}"><a (click)="getPage(currentPage+1)"></a></span></li>
    <div class="item-counter">
      <select name="items-count-selector" id="items-count-selector" [(ngModel)]="itemsOnPage" (change)="getPage(1)">
        <option *ngFor="let item of itemsOnPageArray; let i=index" [ngValue]=item>{{item}}</option>
      </select>
    </div>
  </ul>


</div>
