.button-column{
  background-color: white;
  vertical-align: middle;
  padding: 0px;
  button{
    margin: 0px;
  }
}

.number-column{
  padding: 6px 10px;
  vertical-align: middle;

  input{
    margin: 0px;
  }
}
